export VCPKG_ROOT="$(pwd)/vcpkg/"

if ! [[ -d ./vcpkg ]]; then
	git submodule update --init --remote --recursive
	./vcpkg/bootstrap-vcpkg.sh
fi

export VCPKG_DISABLE_METRICS=1
xmake project -k compile_commands

# vim: ft=bash
